<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> SWYO | Frontend </title>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
	<script type="text/javascript" src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
	<script type="text/javascript" src="http://releases.flowplayer.org/js/flowplayer-3.2.13.min.js"></script>
</head>
<!-- onresize="handleWindowResize()"  -->
<body style="overflow: hidden"; onclick="lockPointer();"  onresize="handleWindowResize()"> 
    {{block 'pgContent'}} <h1>PLAY</h1> {{/block}} 
    {{block 'janisContent'}} {{/block}} 
    {{block 'script'}} {{/block}}
</body>
</html>